{{> header  }}
{{> navbar  }}

<div class="row">
    <div class="col-8">
        <h1>React Native</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur distinctio soluta iste? Autem suscipit nostrum est impedit assumenda accusantium eaque quae blanditiis voluptas ex soluta aliquam exercitationem, perferendis nobis ullam.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/react-native-02.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}